*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color:white;
    color: rgb(19, 15, 15);
}

#ma{
    display: flex;
    align-items: center;

    height: 50px;
    background-color: rgb(6, 8, 8);
    color: rgb(233, 223, 223);
}
a{
    margin-right: 250px;
    text-decoration: none;
    background-color: white;
}
#btn{
    height: 35px;
    cursor: pointer;
    background-color: cyan;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
#btn:hover{
    background-color:0 0 50px  cyan;
    box-shadow: 0 0 5px cyan,0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,0 0 200px cyan;
}
input{
    height:40px ;
}